@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Sevillana&family=Work+Sans:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

/* Contact Section Styles */

.contact {
    background-image: url(../images/banners/banner3.png);
    display: flex;
    overflow: auto;
}
.content {
    display: block;
    text-align: right;
    margin: 220px 230px 170px 850px;
}

.big-text {
    font-size: 55px;
    margin-bottom: 24px;
    color: whitesmoke;
}

.big-text-desc {
    color: #fff;
}


.contact-button > button {
    margin-top: 32px;
    color: blue;
    background-color: whitesmoke;
    border: none;
    padding: 20px 25px 20px;
    border-radius: 5px;
    font-size: 20px;
}

/* Failure Section Styles */
.failures {
    display: flex;
    gap: 85px;
    margin-top: 130px;
    margin-left: 205px;
    margin-right: 320px;
    margin-bottom: 130px;
    justify-content: center;

}


.sad-cat > img {
    height: auto;
    width: 569px;
}

.list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fail-title {
    font-size: 40px;
    margin-bottom: 24px;
}

.fail-desc {
    margin-bottom: 16px;
}

.fail-list > ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
    width: 50vh;
}

